section {
    padding: 1rem 0;
  }
  
  .imageLabel {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 60rem;
    height: 10rem;
    cursor: pointer;
    font-size:medium;
    font-style: bold;
    color: #009688;
    background-color: #CCFBF1;
  }
  
  .imageLabel span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
  }
  
  .imageText {
    display: none;
  }
  
  img {
    padding: 0;
    margin: 0;
    border-radius: 7.5px;
    margin-bottom: 4px;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    margin: 1rem 0.5rem;
    position: relative;
  }
  
  .image button {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border: none;
    color: lightcoral;
    font-size:small;
  }
  
  .image p {
    padding: 0 0.5rem;
    margin: 0;
    font-size:small;
  }
  
  .upload-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    width: 15rem;
    height: 3rem;
    color: white;
    background-color: #009688;
  }

  .upload-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .error {
    text-align: center;
  }
  
  .error span {
    color: red;
  }